<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs')  %>
    <title>Buat Menu</title>
</head>

<body>
    <div class="container">
        <%- include('partials/navbar.ejs') %>
        <section class="section">
            <h1 class="title">ADD MENU</h1>
            <div class="columns">
                <div class="column is-half">
                    <form action="/menus/add" method="post">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name" id="name" placeholder="Name">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <input class="input" type="text" name="description" id="description"
                                    placeholder="Description">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Price</label>
                            <div class="control">
                                <input class="input" type="price" name="price" id="price" placeholder="Price">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">menu_type</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="menu_type" value="Chicken">
                                    Chicken
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_type" value="Beef">
                                    Beef
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_type" value="Fish">
                                    Fish
                                </label>


                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Img Url</label>
                            <div class="control">
                                <input class="input" type="text" name="img_url" id="img_url" placeholder="img_url">
                            </div>
                        </div>

                        <input class="button is-primary" type="submit" value="Add Menu">
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>

</html>